.title .left {
    text-align: left;
    font-size: 16px;
}

.title .right {
    text-align: right;
    font-size: 16px;
}

/* myfood_log */
.myfood_log .container {
    width: 100%;
}

.myfood_log .container .add-card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px #FFBFA5;
    border-style: dashed;
    color: #FFBFA5;
    transition: ease 0.5s;
}

.myfood_log .container .add-card:hover {
    background-color: #FF9966;
}

.myfood_log .card {
    margin: 5px;
    display: inline-block;
    overflow: hidden;
}

.myfood_log img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


/* carousel-slider */
.carousel-slider {
    position: relative;
}

.carousel-slider .container {
    position: relative;
}

.carousel-slider .mySlides:hover {
    scale: 1.5;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carousel-slider img {
    vertical-align: middle;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.carousel-slider .main-image {
    animation: fade-in 2s;
}

.carousel-slider .prev, 
.carousel-slider .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 20px;
    color: black;
    font-size: 25px;
}

.carousel-slider .next {
    right: 0;
}

.carousel-slider .prev:hover, 
.carousel-slider .next:hover {
    color: #FF9966;
}

.carousel-slider .numbertext {
    background-color: rgba(255,255,255,0.5);
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.carousel-slider .col-4 {
    padding: 0;
}

.carousel-slider .thumbnail-image {
    height: 100px;
    object-fit: cover;
    opacity: 0.4;
}

.carousel-slider .selected {
    opacity: 1.0;
}

.carousel-slider .thumbnail-image:hover {
    cursor: pointer;
}

.carousel-slider #caption {
    margin: 0;
    padding: 15px;
    text-align: center;
    background-color: #FFBFA5;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* description */
.description {
    padding-top: 57px;
}

.description .title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.description .content {
    font-size: 13px;
    padding-left: 20px;
}

/* image-card */
.image-card [class*="col-"] {
    padding: 0;
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text-container {
    position: relative;
    height: 200px;
    padding: 0;
    margin: 0;
}

.image-text-container .top-left {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    background-color: none;
    transition: ease 0.5s;
}

.image-card a:hover .image-text-container .top-left {
    background-color: rgba(255,255,255,0.5);
}

@media screen and (min-width: 576px) {
    .title .left {
        font-size: 24px;
    }
    
    .title .right {
        font-size: 24px;
    }

    /* carousel-slider */
    .carousel-slider img {
        height: 500px;
    }

    .carousel-slider .thumbnail-image {
        height: 200px;
    }

    /* image-card */
    .image-text-container {
        height: 200px;
    }

    /* myfood_log */
    .myfood_log .container .add-card {
        width: 250px;
        height: 250px;
    }

    .myfood_log img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}